<h1>
    <%= @system.name %>
</h1>


<p>
    <strong>Name:</strong>
    <%= @system.name %>
</p>
<p>
    <strong>Abbreviation:</strong>
    <%= @system.abbreviation %>
</p>
<p>
    <strong>Company:</strong>
    <%= @system.company %>
</p>
<p>
    <strong>Type:</strong>
    <%= @system.typeSys %>
</p>